
.date {
    font-size: 30pt;
    font-weight: 500;
    color: #ecf0f1;
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: center;
}

.time {
    font-family: 'Roboto Mono', monospace;
    font-size: 32pt;
    font-weight: 500;
    color: #ecf0f1;
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: center;
    width: 200px;
    width: fit-content;
    margin: 0 auto;
}