@* HeaderBar.razor *@
@using System.Globalization

<div class="header-bar">
    <div class="header-bar-content">
        <div class="date">
            @DateTime.Now.ToString("dddd, dd MMMM yyyy 'г.'", new CultureInfo("ru-RU"))         
        </div>
        <div class="time">
            @DateTime.Now.ToString("HH:mm:ss")
        </div>
    </div>
</div>

@code {
    private System.Timers.Timer? timer;

    protected override void OnInitialized()
    {
        // Запускаем таймер, обновляющий каждую секунду
        timer = new System.Timers.Timer(1000);
        timer.Elapsed += (sender, e) => InvokeAsync(StateHasChanged);
        timer.Start();
    }

    public void Dispose()
    {
        timer?.Stop();
        timer?.Dispose();
    }
}