version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    environment:
      # Пароль для админа Keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123
      # Пока embedded БД для простоты
      KC_DB: dev-file
    ports:
      # Открываем порт для доступа
      - "8080:8080"
    command:
      # Запускаем в development режиме
      - start-dev