@page "/test"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthStateProvider

<h3>Проверка авторизации</h3>

<AuthorizeView>
    <Authorized>
        <p>Вы авторизованы</p>
        <p><b>Роль:</b> @role</p>
    </Authorized>

    <NotAuthorized>
        <p>Вы НЕ авторизованы</p>
        <button @onclick="ShowUser">SHOW USER</button>
        <p><b>IsAuthenticated:</b> @isAuth</p>
        <p><b>Role:</b> @role</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool isAuth;
    private string? role;

    private async Task ShowUser()
    {
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        isAuth = state.User.Identity?.IsAuthenticated == true;
        role = state.User.FindFirst(ClaimTypes.Role)?.Value;

        Console.WriteLine($"USER AUTH: {isAuth}");
        Console.WriteLine($"ROLE: {role}");
        StateHasChanged();
    }
}