version: '3.8'

services:
  keycloak-test:
    image: quay.io/keycloak/keycloak:24.0.1
    environment:
      # Пароль для админа Keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123
      # Пока embedded БД для простоты
      KC_DB: dev-file
      KC_FEATURES: scripts
    ports:
      # Открываем порт для доступа
      - "8080:8080"
    volumes:
      - ./import:/opt/keycloak/data/import
      - ./scripts:/opt/keycloak/data/import-scripts
    command:
      # Запускаем в development режиме
      - start-dev 
      - --import-realm