@inherits LayoutComponentBase
@inject CustomAuthStateProvider AuthStateProvider
@inject NavigationManager Nav
@using FrontService.Services.Auth
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div style="background:#eee; padding:10px; display:flex; justify-content:space-between;">
            <div>
                <NavLink href="/">Главная</NavLink> |
                <NavLink href="/orders">Заказы</NavLink> |
                <NavLink href="/admin">Админ-панель</NavLink>
            </div>

            <button @onclick="Logout">Выйти</button>
        </div>

        <div class="content">
            @Body
        </div>
    </Authorized>

    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>

@code {
    async Task Logout()
    {
        await AuthStateProvider.Logout();
        Nav.NavigateTo("/login");
    }
}