@inherits LayoutComponentBase
@using MudBlazor

<MudLayout>
    <MudAppBar Color="Color.Primary">
        <MudText Typo="Typo.h6" Class="ms-2">
            Админ-панель
        </MudText>
    </MudAppBar>

    <MudMainContent>
        <div class="p-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>