version: "3.8"
services:
  postgres:
    image: postgres:17.5
    environment:
      POSTGRES_DB: "order_picking_service"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "password"
    ports:
      - "5432:5432"